body {
  height: 100%;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  cursor: none !important;
}
a {
  cursor: none;
}
* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
input,
textarea,
button {
  font-family: 'Oswald', sans-serif;
  outline: none;
}
