<head>
  <meta property="og:title" content="Brandux Agency | UX/UI Design & Branding" />
  <meta property="og:url" content="http://www.brandux.agency/" />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Brandux Agency">
  <meta property="og:locale" content="en_US">
  <meta property="og:image" content="http://www.brandux.agency/images/image_link.png" />
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:description" content="Brandux is a creative design agency from Ukraine🇺🇦 Our team consists of a group of highly creative UX / UI, Graphic and Motion designers. We’re extremely good at everything related to design works: Mobile App / E-commerce / Website & Branding…" />
  <meta name="description" content="Brandux is a creative design agency from Ukraine🇺🇦 Our team consists of a group of highly creative UX / UI, Graphic and Motion designers. We’re extremely good at everything related to design works: Mobile App / E-commerce / Website & Branding…" />
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brandux Agency | UX/UI Design & Branding</title>
  <link rel="canonical" href="http://www.brandux.agency/">
  <link rel="icon" type="image/png" sizes="32x32, 16x16" href="images/favicon32x32.png">
  <link rel="icon" type="image/png" sizes="64x64" href="images/favicon64x64.png">
  <link rel="icon" type="image/png" sizes="180x180" href="images/favicon180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="images/favicon192x192.png">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700|Roboto" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138249897-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-138249897-1');
  </script>
</head>