<script src="/js/app.js"></script>
<script>
    $(document).ready(function() {
        $("#form-fields").submit(function(event) {
            event.preventDefault();
            var error = false,
                regexEmail = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/,
                email = $(this).find('input[type="email"]').val();

            if(!regexEmail.test(email)) {
                error = true;
                $(this).find('input[type="email"]').addClass('error');
            } else {
                $(this).find('input[type="email"]').removeClass('error');
            }
            console.log(error)
            if (!error) {
                
                $.ajax({
                    type: 'POST',
                    url: 'https://brandux.agency/mail.php',
                    dataType: 'json',
                    data: new FormData($(this)),
                    processData: false,
                    contentType: false,
                    beforeSend: function() {
                        
                        $(this).find('button[type="submit"]').attr('disabled', 'disabled');
                    },
                    success: function() {
                        document.querySelector('.form-inner').classList.add('sent');
                        $(this).find('input, textarea').val('');
                        
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError);
                    },
                    complete: function() {
                        $(this).find('button[type="submit"]').prop('disabled', false);
                    }
                });
            }
            return false;
        });
    });
</script>